<!-- views/home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>
  <% include partials/menu %>
  <div class="container-fluid bg-3 text-center">    
    <h3><%= page %></h3><br>
    <!-- Welcome Message -->
    <p>Welcome to My Website</p>
    <!-- Links to Other Pages -->
    <div>
      
    
    <div class="panel panel-default">
      <div class="panel-heading">Mission Statement</div>
      <div class="panel-body">
        <p>To help companies modernize their work environment and bridge the gap between business and software.</p>
      </div>
    </div>
  </div>
  <% include partials/script %>
</body>
</html>
