/* brendan dal 301332459*/
.container-fluid {
    
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  
  h3 {
    
    font-size: 24px;
  }
  .img-about {
    max-height: 400px;
  }

  .img-responsive {
    max-width: 100%;
    height: auto;
    border-radius: 50%; 
    border: 2px solid #333; 
  }
  
  
  .col-sm-8 {
    text-align: left;
  }
  
  h4 {
    
    font-size: 20px;
  }
  
  p {
    
    font-size: 16px;
    line-height: 1.5;
  }
  
  a {
    color: #007bff; 
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }